In [1]:
import pandas as pd

Pandas is built on two main data structures

1. Series → One-dimensional (like a single column in Excel)

2. DataFrame → Two-dimensional (like a full spreadsheet or SQL table)

In [2]:
s = pd.Series([10, 20, 30, 40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
s = pd.Series([10, 20, 30], index=["a", "b", "c"])
s

a    10
b    20
c    30
dtype: int64

In [5]:
data = {
    "name": ["A", "B", "C"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

df = pd.DataFrame(data)
df

  name  age       city
0    A   25      Delhi
1    B   30     Mumbai
2    C   35  Bangalore

In [6]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [7]:
df.columns

Index(['name', 'age', 'city'], dtype='object')