In [2]:
import numpy as np

In [2]:
# Numpy Array

arr = np.array([1,3,4])

In [3]:
arr

array([1, 3, 4])

In [3]:
# To print array of m*n conisiting of zeroes only

np.zeros((3, 4))  #((m*n)) filled with zeros

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [4]:
# To print array of m*n consisting of ones only

np.ones((3,4))   #((m*n)) filled with ones

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [6]:
# To print array of m*n conisiting of zeroes only

np.full((3, 4),5)    #((m*n),value to be printed)

array([[5, 5, 5, 5],
       [5, 5, 5, 5],
       [5, 5, 5, 5]])

In [7]:
# To print array of m*m identity matrix

np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [9]:
# To print array of like arange(from, to, by adding the no)

np.arange(1, 100, 30)

array([ 1, 31, 61, 91])

In [10]:
# To print array with evenly spaced

np.linspace(1, 100, 10)

array([  1.,  12.,  23.,  34.,  45.,  56.,  67.,  78.,  89., 100.])